/*#region Global*/

body {
	overflow: hidden !important;
	user-select: none;
}

.d-none {
	display: none;
}

.custom-button {
	width: 70vw;
	height: 48px;
	display: inline-block;
	padding: 7px 15px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border-radius: 30px;
	outline: none !important;
	color: rgba(62, 62, 62, 0.7);
	background-color: rgba(196, 203, 206, 0.3);
	border: none;
}

.custom-button:disabled {
	background-color: rgba(196, 203, 206, 0.3);
	color: rgba(0, 0, 0, 0.15);
}

.custom-button:active {
	background-color: rgba(196, 203, 206, 0.8);
}

.extra-gap {
	margin-bottom: 20px;
}

.Header {
	text-align: left;
	background-color: rgb(0, 89, 167);
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100vw;
	padding: 15px;
	font-size: 15px;
	font-weight: 600;
	color: #eee;
}

/*#endregion Global*/


/*#region tourTemp*/

#slides div {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
}

.div-one {
	background-color: rgb(255, 0, 0);
}

.div-two {
	background-color: rgb(60, 255, 0);
}

.div-three {
	background-color: rgb(0, 195, 255);
}

.div-four {
	background-color: rgb(255, 238, 0);
}

/*endregion tourTemp*/


/*#region Slider*/

#slides img {
	position: absolute;
	height: 100vh;
}

.slide-indicator {
	position: fixed;
	bottom: 30px;
	width: 100vw;
	text-align: center;
	font-size: 10px;
	z-index: 5;
}

.fa-circle {
	text-shadow: none;
	color: white;
	margin: 3px;
}

.slide-left {
	position: absolute;
	animation: animateleft 0.1s
}

.slide-right {
	position: absolute;
	animation: animateright 0.1s
}

.slide-controls {
	position: fixed;
	bottom: 30px;
	width: 100vw;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	font-size: 15px;
	z-index: 5;
}

.slide-controls i {
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	background-color: white;
}

.slide-controls i:first-child {
	margin-left: 30px;
	float: left;
}

.slide-controls i:last-child {
	margin-right: 30px;
	float: right;
}

.slide-controls i:active {
	background-color: rgb(238, 238, 238);
	color: rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

@keyframes animateleft {
	from {
		right: 80%;
	}

	to {
		right: 0;
	}
}

@keyframes animateright {
	from {
		left: 80%;
	}

	to {
		left: 0;
	}
}

/*#endregion Slider*/


/*#region Loading*/

#loading {
	height: 100vh;
	background-color: #fff;
}

#loading img {
	display: block;
	width: 45vw;
	margin: auto;
	padding-top: 33vh;
}

#loading p {
	margin-top: 0;
	text-align: center;
	font-size: 14px;
	color: rgba(62, 62, 62, 0.6);
}

/*#endregion Loading*/


/*#region Remover*/

#remover {
	height: 100vh;
	background-color: #fff;
	text-align: center;
}

.remover-pannel {
	position: fixed;
	top: 52px;
	left: 0vw;
	width: 100vw;
}

.remover-item {
	display: inline-block;
	width: 100vw;
	padding: 20px 20px;
	background-color: #fff;
	border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
}

.mob-num {
	margin: auto 15px;
	font-size: 16px;
	font-weight: 600;
	padding: 9px 0;
	float: left;
}

.remove-btn {
	margin: auto;
	vertical-align: middle;
	margin-right: 15px;
}


.remover-pannel i {
	float: right;
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	color: white;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
	background-color: red;
}

.remover-pannel i:active {
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	background-color: rgb(255, 62, 62);
}

#removeSaveBtn {
	margin-top: 30px;
}

/*#endregion Remover*/


/*#region Login*/

#login {
	height: 100vh;
	background-color: #fff;
	text-align: center;
	padding-top: 15vh;
}

.input-field {
	display: inline-block;
	width: 70vw;
	color: #3e3e3ec2;
	padding: 4px;
	margin-bottom: 20px;
	background-color: rgba(196, 203, 206, 0.3);
	background-image: none;
	border-radius: 30px;
	outline: none !important;
	text-align: left;
}

.input-field button {
	float: left;
	height: 40px;
	width: 40px;
	font-size: 17px;
	border: none !important;
	outline: none !important;
	border-radius: 25px;
	background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
	color: rgba(62, 62, 62, 0.5);
	font-weight: normal;
	text-align: left;
}

.custom-control {
	display: inline-block;
	width: 75%;
	color: #3e3e3ec2;
	font-weight: 600;
	padding: 10px 12px 8px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	background-color: transparent;
	background-image: none;
	border: none !important;
	outline: none !important;
}

.p-main {
	color: rgba(62, 62, 62, 0.6);
	font-size: 22px;
	font-weight: 600;
}

.p-sub {
	color: rgba(62, 62, 62, 0.6);
	font-size: 12px;
	font-weight: normal;
}

.p-title {
	color: rgba(62, 62, 62, 0.6);
	font-size: 18px;
	font-weight: 600;
}

/*#endregion Login*/


/*#region Success*/

#success {
	height: 100vh;
	background-color: #fff;
	text-align: center;
	padding-top: 23vh;
}

/*#endregion Success*/


/*#region Dashboard*/

#dashboard {
	height: 100vh;
	background-color: rgba(51, 171, 50, 0.18);
}

.Header span {
	float: right;
	font-size: 16px;
	font-weight: normal;
}

.dbResponse {
	position: fixed;
	top: 52px;
	left: 0vw;
	padding: 15px;
	width: 100vw;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.7;
	overflow: scroll;
}

.dbControls {
	position: fixed;
	bottom: 0vh;
	left: 0vw;
	width: 100vw;
	text-align: center;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
	padding: 10px 0%;
	background-color: #fff;
}

.card1 {
	width: 46vw;
	margin: 5px;
	display: inline-block;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
	font-size: 15px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.75);
	padding: 5%;
}

.card1:active {
	background-color: rgba(222, 244, 222, 0.2);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/*#endregion Dashboard*/


/*#region Settings*/

#settings {
	text-align: left;
	position: fixed;
	right: 0vw;
	top: 0vh;
	width: 100vw;
	height: 100vh;
	padding: 5px;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
}

#settings ul {
	float: right;
	background-color: #fff;
	box-shadow: 1px 2px 6px 2px rgba(34, 34, 34, 0.2);
	list-style: none;
	margin: 0%;
	padding: 0% 5%;
}

#settings ul li {
	padding-bottom: 15%;
	color: rgba(0, 0, 0, 0.85);
}

#settings ul li:first-child {
	padding-top: 15%;
}

#settings ul li:active {
	color: rgb(0, 0, 0);
	font-weight: 500;
}

/*#endregion Settings*/