.slide-indicator {
	position:fixed;
	bottom:20px;
	position: fixed;
	width:100%;
	text-align: center;
	font-size: 12px;
}

.fa-circle {
	text-shadow:none;
	color:white;
	margin:3px;
}

.d-none {
	display: none;
}